<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Practice Of Promises</span>
    </div>
  </nav>
  <div class="container">
    <div class="row">
        <div class="col-md-3">
            <strong>Practice of Promise using then and catch</strong>
            <hr>
            <div class="btn btn-primary" (click)="fetch1()">Enter</div>
            <hr>
            <div  id="resultid1">Data</div>
        </div>
        <div class="col-md-3">
          <strong>Practice of Promise using then and catch</strong>
          <hr>
          <div class="btn btn-primary" (click)="fetch2()">Enter</div>
          <hr>
          <div  id="resultid2">Data</div>
      </div>
      <div class="col-md-3">
          <strong>Practice of Promise using then and catch</strong>
          <hr>
          <div class="btn btn-primary" (click)="fetch3()">Enter</div>
          <hr>
          <div  id="resultid3">Data</div>
      </div>
    </div>
  </div>
 
