<div *ngFor="let item of data">
    <h3>{{item.title}}</h3>
    <h4>{{item.userId}}</h4>
    <h5>{{item.body}}</h5>
</div>

<form class="from-Group" [formGroup]="randomForm" (ngSubmit)="postBtn(randomForm.value)">
    <label for="email">Email</label>
    <input type="text" placeholder="Enter email here" name="email" formControlName="email">
    <label for="">Password</label>
    <input type="text" placeholder="Enter password here" name="password" formControlName="password">
    <button type="submit">Submit</button>
</form>

<button (click)="getFromFirebase()">Get Data From FireBase</button>