<h3 class="text-center mt-3">Learning Concat and Merge Operator</h3>
<div class="conatiner m-4">
<div class="row d-flex justify-content-around">
<div class="col-md-4">
<h5>Practice Of concat Operator</h5>
<h4>Concatenated Observables : See in the console </h4><br>
<button class="btn btn-primary" (click)="concatObservable()">Concatenate Observables</button>
</div>

<div class="col-md-4">
<h5>Practice Of Merge Operator</h5>
<h4>Merged Observables :  See in the console</h4><br>
<button class="btn btn-primary" (click)="mergeObservables()">Concatenate Observables</button>

</div>
</div>
</div>